/* section 1 start*/

.section-1 {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.section-1-texts {
    width: 505px;
}

.section-1-title {
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #3E3E3E;
    height: 94px;
}

.section-1-explanation {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #3E3E3E;
    height: 186px;
}

.section-1-texts-link {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFA800;
    width: 83px;
    height: 24px;
}

.section-1-image-container {
    width: 610px;
    height: 450px;
    overflow: hidden;
    background: #C4C4C4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.section-1-image {
    width: 1002px;
}

.section-1-image-play {
    position: absolute;
    width: 562px;
    height: 120px;
    top: 1260px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* fonte */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #282F65;
}

.section-1-play-button {
    margin: 0px 60px 0px 60px;
}

/* section 1 end */

/* section 2 start */

.section-2 {
    background: #FAFAFA;
    height: 795px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 100px;
}

.section-2-title-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.section-2-title {
    width: 345px;
    height: 94px;
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #3E3E3E;
    padding-top: 50px;
}

/* section 3 */

.section-3 {
    background: #FAFAFA;
    height: 795px;
    /* width: 1240px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.section-3-image-ico-container {
    width: 560px;
    height: 683px;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-3-image-container {
    width: 505px;
    min-width: 505px;
    height: 683px;
    overflow: hidden;
    background: #C4C4C4;
    border-radius: 8px;
}

.section-3-icon-1-container {
    width: 90px;
    min-width: 90px;
    height: 90px;
    background-color: #1799B6;
    border-radius: 24px 4px;
    position: absolute;
    left: 0px;
    top: 90px;
    box-shadow: 5px -4px 10px rgba(23, 153, 182, 0.9);
}

.section-3-icon-2-container {
    width: 90px;
    min-width: 90px;
    height: 90px;
    background-color: #17B673;
    border-radius: 4px 24px;
    position: absolute;
    right: 0px;
    bottom: 90px;
    box-shadow: -5px -4px 10px rgba(23, 182, 115, 0.9);
}

.section-3-icon {
    width: 100%;
}

.section-3-texts-container {
    width: 610px;
}

.section-3-options {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.section-3-options h3 {
    margin: 0px;
}

.section-3-options p {
    margin: 0px;
}

.section-3-number-container {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFA800;
    background-color: rgba(255, 168, 0, 0.2);
    border-radius: 8px;
}

.section-3-number {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 170%;
    color: #FFA800;
}

@media screen and (max-width: 1400px) {
    .section-1 {
        padding: 0px 30px;
    }
    .section-2 {
        padding: 0px 30px;
    }
    .section-3 {
        padding: 0px 30px;
    }
}