/* section 1 start*/

.section-1 {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.section-1-texts {
    width: 505px;
}

.section-1-title {
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #3E3E3E;
    height: 94px;
}

.section-1-explanation {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #3E3E3E;
    height: 186px;
}

.section-1-texts-link {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFA800;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1-learn-more {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}

.section-1-image-container {
    width: 610px;
    height: 450px;
    overflow: hidden;
    background: #C4C4C4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.section-1-image {
    width: 1002px;
}

.section-1-image-play {
    position: absolute;
    width: 562px;
    height: 120px;
    top: 1260px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* fonte */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #282F65;
}

.section-1-play-button {
    margin: 0px 60px 0px 60px;
}

.section-1-pay-icon {
    width: 56px;
    height: 56px;
}

/* section 2 start ----------------------- */

.section-2 {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.section-2-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-2-title {
    width: 345px;
    height: 94px;
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #3E3E3E;
    padding-top: 50px;
}

.section-2-cards-container {
    display: flex;
    justify-content: space-between;
}

/* section 3 ----------------------- */

.section-3 {
    background: #FAFAFA;
    height: 795px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.section-3-image-ico-container {
    width: 560px;
    height: 683px;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-3-image-container {
    width: 505px;
    min-width: 505px;
    height: 683px;
    overflow: hidden;
    background: #C4C4C4;
    border-radius: 8px;
}

.section-3-icon-1-container {
    width: 90px;
    min-width: 90px;
    height: 90px;
    background-color: #1799B6;
    border-radius: 24px 4px;
    position: absolute;
    left: 0px;
    top: 90px;
    box-shadow: 5px -4px 10px rgba(23, 153, 182, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-icon-2-container {
    width: 90px;
    min-width: 90px;
    height: 90px;
    background-color: #17B673;
    border-radius: 4px 24px;
    position: absolute;
    right: 0px;
    bottom: 90px;
    box-shadow: -5px -4px 10px rgba(23, 182, 115, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-icon {
    width: 70%;
}

.section-3-texts-container {
    width: 610px;
}

.section-3-options {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.section-3-options h3 {
    margin: 0px;
}

.section-3-options p {
    margin: 0px;
}

.section-3-number-container {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFA800;
    background-color: rgba(255, 168, 0, 0.2);
    border-radius: 8px;
}

.section-3-number {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 170%;
    color: #FFA800;
}

/* section 4 -----------------------  */

.section-4 {
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.section-4-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4-title {
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #3E3E3E;
    width: 449px;
    height: 94px;
}

.section-4-explanation {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #626262;
    width: 634px;
    height: 31px;
}

.section-4-cads {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.section-4-small-cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-4-larger-card {
    height: 100%;
}

.section-4-more-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.section-4-more-button {
    padding: 24px 71.5px;
    background: #FFA800;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

/* section 5 ---------------------------- */

.section-5 {
    display: flex;
    flex-direction: column;
}

.section-5-title {
    height: 47px;
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    text-align: right;
    color: #3E3E3E;
    padding: 0px 100px 100px 100px;
}

.section-5-customer-container {
    background: #FAFAFA;
    padding: 0px 100px;
    height: 503px;
    display: flex;
    align-items: center;
    position: relative;
}

.section-5-customer-testimony {
    width: 713px;
    height: 186px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #626262;
    margin-top: 40px;
}

.section-5-customer-name {
    width: 94px;
    height: 34px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 170%;
    color: #3E3E3E;
}

.section-5-customer-profission {
    width: 227px;
    height: 24px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #626262;
}

.section-5-quotation-marks {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40px;
}

.section-5-right-icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 723px;
}

.section-5-previous {
    height: 30px;
    width: 30px;
    transform: scaleX(-1);
}

.section-5-next {
    height: 30px;
    width: 30px;
}

.section-5-media-icons {
    height: 15px;
    width: 15px;
    margin: 10px;
}

.section-5-image-container {
    width: 400px;
    height: 523px;
    overflow: hidden;
    position: absolute;
    top: -80px;
    right: 100px;
    background-color: #C4C4C4;
    border-radius: 8px;
}

.section-5-image {
    width: 487px;
    height: 684px;
}

@media screen and (max-width: 1400px) {
    .section-1 {
        padding: 0px 30px;
    }
    .section-2 {
        padding: 0px 30px;
    }
    .section-3 {
        padding: 0px 30px;
    }
    .section-4-cads {
        padding: 0px 30px;
    }
    .section-5-title {
        padding: 0px 30px 100px 30px;
    }
    .section-5-customer-container {
        padding: 0px 30px 100px 30px;
    }
    .section-5-right-icons {
        left: 653px;
    }
}