.font-nunito-sans {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
}

.toolbar-nav-items {
  margin: 48px 0px 48px 0px;
}

.toolbar-nav-items a {
  color: #3E3E3E;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.toolbar-nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.toolbar-fato-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}