.section {
    height: 795px;
}

.image-border {
    min-width: 720px;
    height: 501px;
    overflow: hidden;
    border-radius: 4px;
}

.image-texts {
    position: absolute;
    top: 245px;
    left: 140px;
}

.imagem-texts-title {
    font-family: "Khula";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 130%;
    color: #3E3E3E;
    width: 540px;
    height: 146px;
    margin: 0;
}

.imagem-texts-sub-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    color: #626262;
    width: 465px;
    height: 68px;
    margin: 0;
}