.App {
  display: flex;
  justify-content: center;
}

.font-khula {
  font-family: "Khula";
  font-style: normal;
  font-weight: normal;
}

.font-nunito-sans {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
}