.App {
  min-width: 720px;
}

.font-khula {
  font-family: "Khula";
  font-style: normal;
  font-weight: normal;
}

.font-nunito-sans {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
}