.App {
  margin: 30px 80px 0px 80px;
  min-width: 720px;
  max-width: 1440px;
}
@media screen and (max-width: 850px) {
  .App {
    margin: 30px 20px 0px 20px;
  }
}

.font-khula {
  font-family: "Khula";
  font-style: normal;
  font-weight: normal;
}

.font-nunito-sans {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
}